@import "tailwindcss";

/* .avatar {
  background-image: url("https://tse1.mm.bing.net/th/id/OIP.Sdwk-7MkBK1c_ap_eGCwxwHaHa?pid=Api&P=0&h=180");
  background-size: cover;
  background-position: center;
} */

/* bg-[url('https://tse1.mm.bing.net/th/id/OIP.Sdwk-7MkBK1c_ap_eGCwxwHaHa?pid=Api&P=0&h=180')] */


.lexend-exa {
  font-family: "Lexend Exa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.chat-scroll::-webkit-scrollbar {
  width: 0px;
}

.chat-scroll2::-webkit-scrollbar {
  width: 5px;
}

.chat-scroll2::-webkit-scrollbar-thumb {
  background: #bebebe;
  border-radius: 8px;
}

.chat-scroll::-webkit-scrollbar-thumb {
  background: #bebebe;
  border-radius: 8px;
}

@keyframes float-y {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.animate-float {
  animation: float-y 3s ease-in-out infinite;
}